{{!-- Navbar --}}
<header>
  <div class='navbar-fixed'>
    <nav class="#757575 grey darken-1" role="navigation" id='top-nav'>
      <!-- Dropdown Structure -->
      <ul id="dropdown1" class="dropdown-content #757575 grey darken-1">
        <li><a class='white-text' href="/seoul">율현 서울사무소</a></li>
        <li><a class='white-text' href="/atlanta">율현 아틀란타 사무소</a></li>
      </ul>
      <!-- Dropdown Structure -->
      <ul id="dropdown2" class="dropdown-content #757575 grey darken-1">
        <li><a class='white-text' href="/intro">Intro</a></li>
        <li><a class='white-text' href="/contract">Contract</a></li>
        <li><a class='white-text' href="/criminal">Criminal</a></li>
        <li><a class='white-text' href="/family">Family Law</a></li>
        <li><a class='white-text' href="/inheritance">Inheritance</a></li>
        <li><a class='white-text' href="/taxes">Taxes</a></li>

      </ul>
      <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Yoolhyun</a>
        <a href="#!" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <div class='navbar-right'>
          <ul class="right hide-on-med-and-down">
            <li><a href="/" class='title'>Home</a></li>
            <li><a class="dropdown-trigger" data-target="dropdown1">
                <div class='nav-space'>법률사무소</div>
                Law Office
              </a></li>
            <li><a href="/about" class='title'>
                <div class='nav-space'>윤배경변호사</div>Lawyer Yoon
              </a></li>
            <li><a class="dropdown-trigger" data-target="dropdown2">
                <div class='nav-space'>업무분야</div>Practice Areas
              </a></li>
            <li><a href="/resources" class='title'>
                <div class='nav-space'>법률자료실</div>Resources
              </a></li>
            <li><a href="/consultation" class='title'>
                <div class='nav-space'>상담 및 의뢰</div>Consultation
              </a></li>
          </ul>
    </nav>
  </div>
    <ul class="sidenav" id="mobile-demo">
              <li><a href="/">Home</a></li>
              <li><a href="/intro">Introduction</a></li>
              <li><a href="/about">Lawyer Yoon</a></li>
              <li><a href="/seoul">Seoul Office</a></li>
              <li><a href="/atlanta">Atlanta Office</a></li>
              <li><a href="/contract">Contract</a></li>
              <li><a href="/criminal">Criminal</a></li>
              <li><a href="/family">Family</a></li>
              <li><a href="/inheritance">Inheritance</a></li>
              <li><a href="/taxes">Taxes</a></li>
              <li><a href="/resources">Resources</a></li>
              <li><a href="/consultation">Consultation</a></li>
    </ul>
</header>

{{!-- Main body Content Wrapped in Carousel --}}
<main>
  <img src='/assets/images/Background/nature_one.jpg' class='overhead-image-resources' />
  <div class="container">
    <h2>업무분야</h2>
    {{!-- 국제상사 분쟁과 관련된 질문 --}}
    <div class="col s8 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">국제상사 분쟁과 관련된 질문</span>
        </div>
        <ul class='collapsible'>
          <li>
            <div class="collapsible-header">한국의 수입업자를 상대로 물품대금을 받기 위한 소송을 미국에서 제기할수 있을까요?</div>
            <div class="collapsible-body"><span>질의:</span></div>
            <div class="collapsible-body"><span>본인은 캘리포니아의 LA에서 회사를 운영하고 있습니다. 본인의 회사는 천연 유기농 건강식품을 제조 수출하는 영국 법인의
                agent로 일하고 있는데 2016년 8월경 LA에서 한국의 홈쇼핑에
                제품을 납품하고 판매하는 한국 회사(수입업자)와 위 건강식품을 독점 공급하는 계약을 체결하였습니다. 이에 따라 본인의 회사가 영국 법인으로부터 제품을 구입하여 그 제품을 한국의 수입업자에
                공급하였는데 한국 법인은 계약금만 지급하고 아직까지 그 대금을 지급하지 않고 있습니다. 한국의 수입업자는 위 건강식품을 홈쇼핑에서 판매를 하였으나 크게 호응을 얻지 못 하여 재고만 쌓이는
                상태라는 것입니다. 결국 본인의 회사는 상당한 손해를 보고 있습니다. 한국의 수입업자를 상대로 물품대금을 받기 위한 소송을 미국에서 제기할 수 있을까요?</span></div>
            <div class="collapsible-body"><span>답변:</span></div>
            <div class='collapsible-body'>
              <p class='resources-p'>가. 전형적인 국제 상사 분쟁의 하나로 보입니다.</p>
              <p class='resources-p'>나. 생각컨대, 귀하가 한국의 수입업자를 상대로 물품대금의 지급지체를 이유로 독점공급계약의 해지하는 통지를 일단 해 두어야 할 것입니다. 이러한
                해지절차를 하지 않은 상태에서 귀사가 다른
                한국의 업체와 거래관계를 맺을 경우 독점공급계약 위반의 항의를 받을 경우가 있을 수 있기 때문입니다.</p>
              <p class='resources-p'>다. 귀하가 미국에서 소송을 제기하는 것이 가능한지 여부를 살펴보겠습니다. 귀하의 법인과 수입업자 사이에 분쟁해결 조항이 별도로 없다면, 귀하의
                법인은 미국의 캘리포니아 주에 한국의
                수입업자를 상대로 지급받지 못 한 물품대금을 지급하여 달라는 취지의 소송을 제기할 가능성이 있습니다. 독공급계약을 미국에서 체결하고 물품의 수출을 귀하의 법인에서 주도적으로 주선하였을
                것이기 때문입니다.
                즉, 계약의 체결, 물품의 공급 등 여러 상사 활동이 미국에서 이루어지는 등 사건이나 증거의 연결점이 미국에 적지 않게 존재하기 때문입니다.</p>
              <p class='resources-p'>라. 다만, 미국에서 소송을 제기할 경우 귀하의 법인은 한국의 수입업자에게 미국에서 물품대금의 지급을 구하는 민사소송이 제기되었음을 알려야만 합니다.
                한국의 수입업자에게 미국에서 제기된
                소송의 존재를 알려주지 않으면 미국에서의 소송에서 승소하더라도 한국에 있는 수입업자에게 강제집행을 할 수 없기 때문입니다(미국 법정에서 승소할 경우 수입업자의 미국 내 재산에 대하여만
                강제집행이 가능할 뿐입니다).</p>
              <p class='resources-p'>마. 그런데 한국에 있는 수입업자의 주소지로 미국에서 소송이 제기된 사실을 알리는 절차가 다소 까다롭고 시간도 적지 않게 소요됩니다(통상적으로 6개월
                이상이 걸립니다). 만약 이러한 소송
                진행의 송달절차가 제대로 갖추어지지 않을 경우 향후 한국의 법인이 소재한 한국에서 강제집행하기가 곤란할 여지가 있습니다.</p>
              <p class='resources-p'>바. 그런 점에 비추어 귀하가 직접 한국에 있는 변호사와 상담하여 한국의 변호사를 통하여 한국의 수입업자를 상대로 민사소송을 제기하는 것이 보다
                바람직하다고 사료됩니다. 이럴 경우 한국의
                변호사를 통하여 한국 변호사의 명의로 한국의 수입업자에게 미지급 물품 대금의 지급을 요구하는 경고장을 보내거나 수입업자의 재산에 대하여 가압류 등의 조치를 취하는 것을 권해 드리고
                싶습니다.
                이럴 경우 굳이 소송까지 가지 않더라도 수입업자의 양보를 이끌어 낼 수 있을 가능성이 큽니다.</p>
          </li>
        </ul>
      </div>
    </div>
    {{!-- 상속 문제와 관련된 질문 --}}
    <div class="col s8 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">상속 문제와 관련된 질문</span>
        </div>
        <ul class="collapsible">
          <li>
            <div class="collapsible-header">한국에서의 상속문제로 미국에 있는 재산에 대한 금융기관의 집행이 가능한지요?</div>
            <div class='collapsible-body'><b>질의:</b></div>
            <div class='collapsible-body'>한국에 생전의 부친으로부터 물려받은 선산과 논밭이 저의 명의로 되어있습니다. 최근 한국에 있는 동생이 상당한 부채를 남기고 사망하였습니다.
              그리고 동생이 남긴 채무를 갚을 수 없어 제수씨와
              자녀들은 모두 상속포기를 하였습니다. 이 경우 미국에 있는 저의 재산에 대하여 한국 금융기관의 집행이 가능한지요? </div>
            <div class='collapsible-body'><b>답변:</b></div>
            <div class='collapsible-body'>
              <p class='resources-p'>
                가. 국제사법적으로 판단하면 상속관계는 본인의 본국법이 준거법이 됩니다. 따라서, 순수하게 한국의 법에 따르게 됩니다. </p>
              <p class='resources-p'>나. 귀하의 동생(피상속인)이 사망하면서 동생의 채무는 그의 처와 자녀들에게 상속이 됩니다. 이런 까닭에 귀하의 처제와 자녀들이 상속포기를 한 것으로
                보입니다. 문제는 한국의 민법에 따르면 상속포기를
                하게 되면 다음 순위의 상속인이 피상속인을 상속하게 됩니다. 이럴 경우 귀하는 처제와 그 자녀들이 상속을 포기함에 따라 귀하는 예기치 않게 동생의 채무를 상속한 상태가 되었습니다.</p>
              <p class='resources-p'>다. 금융기관은 선순위 상속인(피상속인의 처와 자녀)들이 상속을 포기함에 따라 귀하가 동생을 상속한 유일한 상속인이 된 것임을 알게 되었기 때문에
                한국에 있는 귀하 명의의 부동산에 대하여 가압류 등의
                조치를 취할 수 있습니다. 또한 귀하를 상대로 채무금 지급 소송을 할 수도 있습니다. </p>
              <p class='resources-p'> 라. 순수한 국제사법 이론에 따르면 한국의 금융기관은 미국에 있는 귀하 명의의 사업이나 부동산(주택)에 대하여도 동생의 상속자임을 이유로 채무금의
                소송을 제기할 수 있습니다. 미국법과는 상관 없이
                한국의 상속법(민법)에 따라 귀하가 동생의 상속인이 되기 때문입니다. </p>
              <p class='resources-p'> 마. 그렇다면, 귀하는 한국법원에 동생에 대한 상속포기 또는 한정승인(상속인으로부터 받은 재산의 한도 내에서 상속 채무를 갚겠다는 의미)을 신청하는
                것을 권유 드립니다. 통상 자신이 상속권자가 된
                사실을 안 날로부터 3개월 이내에 상속포기 또는 한정승인을 하여야 하므로 그 기간을 준수하실 것을 권합니다.</p>
            </div>
          </li>
        </ul>
        <ul class="collapsible">
          <li>
            <div class="collapsible-header">한국에서 상속받은 재산에 대한 유류분 청구는 어떻게 하여야 하나요?</div>
            <div class='collapsible-body'><b>질의:</b></div>
            <div class='collapsible-body'>본인은 현재 미국 캘리포니아에서 거주하고 있습니다. 본인은 약 12년 전에 제 어머니로부터 부동산 (상가건물)을 증여 받았는데, 2달 전에
              어머니께서 돌아가신 후, 저희 누님들이 유류분 반환을 구두로 요청하고 있습니다.
              저는 전 1남 5녀 중 막내입니다. 그 중 4분 누님들은 저와 대화로써 합의점을 찾아보려 하는데, 나머지 한 누님이 벌써 변호사를 선임하고 소송절차를 밟고 있는 중이어서, 저도 변호사를
              선임해야 할 입장입니다. 이 누님이 병원에서 태어나자 마자,
              다른 신생아와 바꿔져서 양부모 밑에서 20대 중반까지 자랐습니다. 그 후, 1980년대 말경에 저희 부모님이 다시 찾으셔서, 그 후부터는 양부모 모시면서 저희하고도 교분을 갖고 지내게
              되었습니다.
              이 누님이 호적상으로는 저희하고 남남인데, 저한테 유류분 반환 청구를 할 자격이 있는지요? 애기 듣기로는 이번 기회에 저희 호적에 등재하고자, 그것도 알아보고 있다고 들었읍니다. 참고로, 위
              부동산을 증여받을 당시 20억 정도였던 것 같고,
              그 중 (건물공사비) 12억은 제가 채무로 떠 안았읍니다. 현재, 시세는 한 100억 정도인 것 같은데, 위 누님은 120억으로 주장하고 있습니다. </div>
            <div class='collapsible-body'><b>답변:</b></div>
            <div class='collapsible-body'>
              <p class='resources-p'>
                가. 우선, 상속법은 국제사법적 영역이 가장 약한 부분입니다. 쉽게 말씀드리면 신분법인 한국법이 준거법이라는 의미입니다. 마찬가지로 친생자관계확인 등도 한국법에 따르게 됩니다. </p>
              <p class='resources-p'>
                나. 본 사안에 있어서는 약 12년 전에 어머니께서 귀하께 증여를 하셨다는 부분이 핵심인 듯 합니다. 한국의 민법은 상속개시시의 피상속인(어머님)이 가진 재산의 가액에 증여재산의 가액을
                가산하고 채무가 있으면 이를 공제하여 유류분을 산정하도록 하고 있습니다. </p>
              <p class='resources-p'>
                다. 증여는 상속개시 전의 1년 전에 행한 것에 한하여 가액을 산정합니다. 다만, 당사자 쌍방이 유류분권자에게 손해를 가할 것을 알면서 증여를 한 때에는 1년 전에 한 것도 유류분에
                산정하도록 합니다. </p>
              <p class='resources-p'>
                라. 이에 보건대, 귀하가 보내주신 내용에 따르면 어머님께서 12년 전에 상가건물을 증여하셨다고 하는데, 어머님은 물론이고 귀하가 유류분권자가 될 다른 5분의 누님들에게 손해를 가할 것(
                유류분의 침해가 있을 것)을 알면서 증여를 하고 증여를 받았는지를 확정하는 것이 필요하다고 하겠습니다. 만약, 증여 당시 어머님께서 다른 재산도 있었다고 한다면 의미가 있지 않을까
                합니다. </p>
              <p class='resources-p'>
                마. 한편, 증여 받을 당시 12억원 상당의 부채가 있었고 이를 인수하셨다고 하였는데 유류분 산정시 증여재산의 가액은 상속 당시를 기준으로 하므로 현재 남아 있는 부채는 큰 의미가 없을
                수 있습니다. 다만, 기여분으로 주장이 가능하지 않을까 합니다(다만, 한국의 대법원에서는 유류분 산정에 있어서 기여분을 인정하지 않고 있습니다). </p>
              <p class='resources-p'>
                바. 나머지 한 누님의 경우 호적에 올라오지 않으셔도 어머님에 대하여는 친자임을 주장할 수 있습니다. 아마 친생자관계확인의 소를 제기할 것으로 보입니다. 1980년말 경 서로 확인하고 그
                후 양부모와 친분관계를 가져 왔다는 등의 사항 등이 중요한 입증자료가 될 것으로 사료됩니다. </p>
              <p class='resources-p'>
                사. 유류분권자(누님들)는 유류분 부족을 안 날로부터 1년 이내에 유류분 반환의 소를 제기하여야 하므로 위 두 소송을 함께 진행할 것으로 보입니다.</p>
            </div>
          </li>
        </ul>
        <ul class="collapsible">
          <li>
            <div class='collapsible-header'>미국 영주권자 신분인 부모로부터 미국시민권자인 자녀가 한국에 있는 부동산을 상속받을시 고려할 점은요?</div>
            <div class="collapsible-body">
              <p class='resources-p'><b>답변:</b></p>
              <p class='resources-p'>
                가. 상속은 피상속인이나 상속인의 국적과 무관합니다. 다만 세금 납부문제만 차이가 있습니다. 그리고 세금은 상속인과 피상속인의 국적에 따라 해당 국적의 법 적용을 받습니다. </p>
              <p class='resources-p'>
                나. 이 경우 부모는 한국인이고 한국에 있는 재산에 대해 상속이 이루어지므로 한국법의 적용을 받게 됩니다. 그리고 미국시민권자인 상속인인 자녀는 미국연방법의 적용을 받습니다. 미국연방법은
                피상속인의 상속재산에 대해 납세의무를 부과하고 상속인에 대해서는 납세의무를 부과하지 않습니다. 즉, 한국에서는 상속받은 사람이 세금을 내야합니다. 이때 상속인이 한국의 거주자이면 한국에
                있는
                자산 뿐만 아니라 다른나라에 있는 자산을 상속 또는 증여 받은 경우에도 세금을 내야합니다. 그러나 상속인이 비거주자이면 한국에 있는 자산을 상속 또는 증여받은 경우에만 세금을 냅니다.
              </p>
              <p class='resources-p'>
                다. 이 경우 미국시민권자인 자녀는 한국의 비거주자이므로 한국 재산에 대해 상속세를 납부하여야 합니다. 그런데 미국은 피상속인이 세금을 냅니다. 피상속인이 미국의 거주자이면 전 세계 모든
                자산에
                대해 상속 및 증여세를 내야하고 만약 비거주자이면 미국에 있는 유형자산(tangible asset)을 상속.증여하는 경우에만 세금을 냅니다. 미국의 시민권자나 세법상 거주자(영주권자,
                실제
                체류기간 충족한 자) 는 전세계 모든 소득을 미국에 신고해야 합니다. </p>
            </div>
          </li>
        </ul>
        <ul class="collapsible">
          <li>
            <div class='collapsible-header'>미 시민권자의 한국내 상속재산 포기절차에 대해 문의드립니다.</div>
            <div class="collapsible-body">
              <p class='resources-p'><b>답변:</b></p>
              <p class='resources-p'>
                한국 대법원사이트에서 “미 시민권자의 상속포기 위임서”를 다운받아서 서명날인한 후 공증을 받아 직접 법원의 관련부서에 제출하시면 됩니다.
              </p>
            </div>
      </div>
      </li>
      </ul>
    </div>

    <div class="col s8 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">이혼 소송과 관련된 질문</span>
        </div>
        <ul class="collapsible">
          <li>
            <div class='collapsible-header'>미국에서 결혼한 후 한국에서 이혼소송 제기 가능한지요?</div>
            <div class='collapsible-body'><b>질의:</b></div>
            <div class='collapsible-body'>
              저는 한국 국적의 여성입니다. 남편의 음주, 폭언 등의 문제로 별거를 한 이후 직장 관계로 제3국에서 거주하고 있습니다. 현재 미국인 남편이 미국에서 저를 상대로 이혼의 소송을 제기한
              상태입니다. 저는 이와 별도로 한국에서 따로 이혼을 진행하고 싶습니다. 자녀는 미국에 있는 남편이 양육하고 있습니다. 과연 한국에서 제가 이혼 소송을 제기할 수 있을까요?</div>
            <div class='collapsible-body'><b>답변:</b></div>
            <div class='collapsible-body'>
              <p class='resources-p'>
                가. 이혼과 관련하여 어느 나라의 법을 준거법으로 할 지 어느 나라의 법원에서 제기할 지 등에 대하여 여러 가지 복잡한 문제가 있습니다. </p>
              <p class='resources-p'>
                나. 우선 귀하가 궁금해 하시는 내용을 보면 이미 미국에서 이혼 소송이 진행 중인 상황에서 한국에서의 이혼 소송이 가능한가 하는 점입니다. 한국에서 이혼 소송이 가능하기 위해서는 한국의
                법원에
                귀하의 이혼 소송에 대한 재판관할권이 존재하여야 하기 때문입니다. </p>
              <p class='resources-p'>
                다. 한국의 국제사법에 따르면, “법원은 당사자 또는 분쟁이 된 사안이 대한민국과 실질적 관련이 있는 경우에 국제재판관할권을 가진다. 이 경우 법원은 실질적 관련의 유무를 판단함에 있어
                국제재판관할 배분의 이념에 부합하는 합리적인 원칙에 따라야 한다.” 고 규정하고 있습니다(국제사법 제2조). 또한 이혼의 일반적 효력은 아래 법의 순위에 따라 준거법이 결정됩니다.
                <section class='resources-tab'> ○1. 부부의 동일한 본국법 </section>
                <section class='resources-tab'> ○2. 부부의 동일한 상거소지법 </section>
                <section class='resources-tab'> ○3. 부부와 가장 밀접한 관련이 있는 곳의 법 이에 따를 때 부부 쌍방이 대한민국에서 혼인생활을 하였다면 부부와 가장 밀접한
                  관련이
                  있는 곳을 대한민국으로 보아 대한민국 법을 적용할 수 있습니다. 다만, 부부 중 일방이 대한민국에 상거소(常居所地)가 있는 대한민국 국민인 경우에는 이혼은 대한민국 법에 의합니다(한국
                  국제사법 제37조, 39조). </section>
              </p>
              <p class='resources-p'>
                라. 그런데 귀하의 경우 남편과 귀하가 서로 본국법이 다를 뿐만 아니라 귀하가 남편의 나라인 미국이 아닌 제3국에 거주한 것으로 보여 ○1, ○2번 항목은 해당사항이 아닙니다. 이럴 경우
                두
                분과 가장 밀접한 관련이 있는 곳의 법을 정해야 할 텐데 위 내용만 보아서는 과연 어떤 곳이 가장 밀접한 곳인지 결정하기 곤란합니다. 다만, 귀하가 한국법에 상거소를 두게 된다면
                한국법에서
                따로
                이혼 소를 제기할 수 있을 것입니다(한국법에서는 귀하가 주민등록주소지를 신고하면 통상적으로 이를 귀하의 상거소로 추정하게 됩니다). 현재 귀하가 설명한 내용에 따르면 한국 민법으로도
                이혼의
                사유(배우자의 부당한 대우)에 해당한다고 사료됩니다. </p>
              <p class='resources-p'>
                마. 다만, 이럴 경우라도 귀하는 귀하의 남편에게 한국에서 이혼의 소를 제기한 사실을 남편에게 알려야 하고 이는 재판에 관한 국제송달절차를 거쳐야 합니다. 통상적으로 이러한 소송송달
                절차는
                6개월 정도가 소요됩니다. </p>
              <p class='resources-p'>
                바. 귀하가 남편과의 혼인 사실이 한국의 가족관계증명에 기재되어 있다면 한국에서 이혼의 소송을 제기하여 판결을 받아 이를 통하여 이혼 사실을 기재하여 두는 것이 보다 간명할 수 있으리라
                보입니다. </p>
            </div>
          </li>
        </ul>

        <ul class="collapsible">
          <li>
            <div class="collapsible-header">한국에서 결혼한 후 미국에서 이혼 소송이 가능한지요?</div>
            <div class='collapsible-body'><b>질의:</b></div>
            <div class='collapsible-body'>
              한국에서 15년 전 결혼하였으나, 남편과의 지속적인 불화를 겪어 별거를 하던 중 저만 미국으로 유학을 와서 현재 미국 영주권자 신분으로 있습니다. 한국 남편과의 혼인 관계를 청산하고 싶으나
              남편이 반대하고 있습니다. 어떤 방법이 좋을까요?
            </div>
            <div class='collapsible-body'><b>답변:</b></div>
            <div class='collapsible-body'>
              <p class='resources-p'>
                가. 귀하의 말씀 취지로 보아 남편과의 별거 중 일방적으로 미국으로 오신 듯 합니다. 이러한 별거 상태가 오래 지속된 것은 한국의 민법상 ‘배우자를 유기한 것’으로 해석될 여지가 있어
                귀하에게
                불리한 요인(귀책사유)이 됩니다. </p>
              <p class='resources-p'>
                나. 이런 점에서 귀하가 거주하는 주에서 이혼 소송을 제기하는 것도 가능합니다(문제는 남편에게 적법하게 송달될 수 있는가 하는 것은 별론입니다(정상적으로 송달을 하기까지 6개월 이상의
                상당한
                시간이 걸릴 수 있습니다). </p>
              <p class='resources-p'>
                다. 한국의 남편이 이혼 재판에 대한 송달을 받지 못 한 경우, 또는 이를 송달을 받은 뒤 이에 대한 항변을 한 경우임에도 불구하고 귀하에게 유리한 이혼의 판결이 난 경우, 귀하가 한국의
                가족관계부에 이혼의 사실의 등재가 거부될 여지도 있습니다. 한국 법원은 유책배우자가 이혼의 소를 제기한 경우 그 이혼을 받아들이지 않는바, 미국 주법에 따라 유책배우자에 의한 이혼을
                인정한
                경우
                한국에서는 이를 공서양속에 반한다는 이유로 미국 법원의 판결의 집행을 거부할 여지가 있습니다. </p>
            </div>
          </li>
        </ul>

        <ul class="collapsible">
          <li>
            <div class='collapsible-header'>미국 시민권을 취득한 후 한국에서 이혼소송을 진행하려고 합니다. 가능한지요?</div>
            <div class="collapsible-body"><b>질의:</b></div>
            <div class='collapsible-body'>
              지난 11월 시민권을 취득한 이후 아직까지 영사관에 한국국적 말소신청은 하지 않은 상태입니다. 30년전에 한국에서 결혼하고 혼인신고도 하였습니다. 현재 남편이 이혼소송을 진행시키려고 하는데
              미국에는 집도 없고 나눌 재산도 없지만 한국에는 부동산이 있습니다. 이혼소송을 한국에서 진행시키고자 하는 데 가능한지요?
            </div>
            <div class='collapsible-body'><b>답변:</b></div>
            <div class='collapsible-body'>
              <p class='resources-p'>
                시민권 유무와 상관없이 한국 미국 양쪽에서 모두 소송진행이 가능합니다. 다만 어느곳에서 진행하는 것이 본인에게 유리한 지를 판단하시어 진행시키는 것을 권해드립니다.</p>
            </div>
          </li>
        </ul>

        <ul class="collapsible">
          <li>
            <div class='collapsible-header'>부부가 모두 영주권자이고 합의이혼했습니다. 한국에 있는 호적을 어떻게 정리하면 되는 지요?</div>
            <div class='collapsible-body'><b>질의:</b></div>
            <div class='collapsible-body'>
              두 사람 모두 영주권자이고 합의이혼했습니다. 이미 카운티판사로부터 이혼 판결서류도 받아놓은 상태입니다. 한국 호적을 어떻게 정리하면 되는 지요?
            </div>
            <div class='collapsible-body'><b>답변:</b></div>
            <div class='collapsible-body'>
              <p class='resources-p'>
                국에서 이미 합의이혼하셨다면 그 효력은 한국에서도 인정받게 됩니다. 한국에 있는 호적을 정리하고자 하면 영사관에 가셔서 필요서류와 함께 제출하시면 됩니다.
              </p>
            </div>
          </li>
        </ul>

      </div>
    </div>

    {{!-- 세금 문제와 관련된 질문 --}}

    <div class="col s8 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">세금 문제와 관련된 질문</span>
        </div>
        <ul class="collapsible">
          <li>
            <div class='collapsible-header'>한국에서 이미 납부한 증여세를 돌려받을 수 있을까요?</div>
            <div class='collapsible-body'><b>질의:</b></div>
            <div class='collapsible-body'>
              저는 현재 미국 Atlanta에 거주하고 있습니다. 7년 전 아버님이 살아계실 때 서울에 있는 상가 건물을 증여 받았습니다. 이때 저는 대출까지 받아가며 증여세를 납부하였습니다. 그 후
              아버님께서 돌아가시자 나머지 형제자매들이 저를 상대로 유류분 청구소송을 제기하는 바람에 상가건물에 관하여 지분이전 등기를 해 주어야 할 처지입니다. 저는 상가건물을 증여를 받아 금전적 손실도
              적지 않습니다. 이미 낸 증여세를 돌려받을 수는 없을까요?
            </div>
            <div class='collapsible-body'><b>답변:</b></div>
            <div class='collapsible-body'>
              <p class='resources-p'>
                한국의 세법에 따라 결정할 문제입니다. </p>
              <p class='resources-p'>
                귀하가 선친으로부터 상가를 증여 받아 한국의 세무당국에 증여세를 납부하였으나, 그 후 증여 받은 재산을 유류분권자에게 반환한 경우 유류분 청구에 따라 당초 증여의 효력은 소멸됩니다.
                한국의
                국세기본법과 시행령은 수증재산을 반환한 날로부터 2개월 이내에 경정청구를 하여 당초 납부한 증여세 환급을 받을 수 있도록 규정하고 있습니다. </p>
              <p class='resources-p'>
                귀하의 경우 유류분 청구에 따라 형제자매들에게 상가부동산에 관하여 유류분 상당의 지분을 이전하여 준 때로부터 2개월 이내에 증여세경정청구를 하여 당초 납부한 증여세 중 일부를 환급 받을
                수 있을
                것입니다. </p>
            </div>
          </li>
        </ul>

        <ul class="collapsible">
          <li>
            <div class='collapsible-header'>1가구1주택의 세금혜택을 받을 수 있나요?</div>
            <div class='collapsible-body'><b>질의:</b></div>
            <div class='collapsible-body'>
              저의 부부는 2012년 한국에서 아파트를 분양 받아 대금을 납입하여 오다가 2014년 미국으로 이민하여 콜로라도 주 덴버에서 거주하고 있습니다. 저희 부부의 아들 2명은 한국에 남아 있는
              상황에서 저희 부부는 2015년 분양 잔금을 완납하고 위 아파트를 취득한 뒤 아들들이 이 아파트에서 거주하여 오다가 최근 미국으로 이민하여 왔습니다. 이에 이 아파트를 처분하려고 하는데
              1가구1주택 비과세 혜택을 받을 수 있는지 궁금합니다.
            </div>
            <div class='collapsible-body'><b>답변:</b></div>
            <div class='collapsible-body'>
              <p class='resources-p'>
                귀하의 부부가 미국에 거주하고 있는 상황에서 한국의 주거용 부동산을 양도하는 경우인바, 귀하의 부부가 한국 소득세법상 양도소득세 비과세 혜택을 받기 위해서는 우선 귀하의 부부가
                한미조세협약상
                한국의 거주자(resident)로 볼 수 있는가 하는 문제가 우선되어야 합니다. </p>
              <p class='resources-p'>
                한미조세협약은 주거(permanent home)을 ‘그 가족과 함께 거주하는 (dwells with his family)’ 장소를 고려하도록 하고 있습니다. </p>
              <p class='resources-p'>
                귀하의 부부가 아파트를 분양 받은 후 미국으로 이민을 오긴 하였지만, 귀하 부부의 가족인 아들 2명이 아파트에 2년 이상 거주하여 왔던 점에 비추어 귀하의 부부가 여전히 한국의 거주자로
                해석이
                됩니다. 따라서, 한국의 1가구1주택 비과세 혜택을 받을 수 있을 것으로 판단됩니다. </p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    {{!-- 형사 사건과 관련된 문제 --}}

    <div class="col s8 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">형사 사건과 관련된 문제</span>
        </div>
        <ul class="collapsible">
          <li>
            <div class='collapsible-header'>한국에서 기소중지된 상황입니다. 어떻게 하면 될까요?</div>
            <div class='collapsible-body'><b>질의:</b></div>
            <div class='collapsible-body'>저희 부부는 함께 스타트 업 사업을 하던 중 2012. 9. 경 지인으로부터 투자금 명목으로 5000만 원을 받아 사용하였으나, 결국 부도가
              발생하였습니다. 저희 부부는 위 투자금 중 일부를
              지인에게 반환하다가 결국 2014. 1. 경 미국으로 이주하여 거주하고 있는 상태인데 최근 지인이 저희 부부를 사기 혐의로 고소하였음을 알게 되었습니다. 저희 부부는 이 문제로 상당한
              정신적인
              스트레스를 받고 있습니다. 방법이 없을까요?</div>
            <div class='collapsible-body'><b>답변:</b></div>
            <div class='collapsible-body'>
              <p class='resources-p'>
                지인이 귀하 부부를 함께 사기 혐의로 고소하였다는 것은 귀하의 부부가 처음부터 투자금을 돌려주거나 이익을 배당할 능력이나 의사가 없었음에도 불구하고 지인을 감언이설로 속여서 위
                5000만원을
                받았다는 의미입니다. 그러나, 귀하의 부부가 당시 스타트 업 사업을 실제로 운영하고 있었으며 위 투자금을 위 운영에 사용하였다는 점, 귀하의 부부가 위 투자금의 일부를 반환한 사실 등에
                미루어
                처음부터 지인을 속일 의사 있었다고 보기는 어려워 보입니다. 그러나, 수사기관으로서는 귀하 부부의 국내 소재가 확인되지 않으므로 이 사건을 기소중지 시키고 귀하 부부에 대하여 지명수배를
                내리게
                됩니다. 이렇게 되면 귀하 부부가 한국으로 입국하거나 출국할 때 상당히 불안한 지위에 놓이게 됩니다. </p>
              <p class='resources-p'>
                이 경우 귀하는 한국의 수사기관(검찰청이나 경찰청)에 연락하여 고소된 사건에 대하여 충분히 설명하거나 자신의 억울함을 변명할 수 있습니다. 간단한 사건의 경우 이메일을 통한 자료의 제출,
                화상통화에 의한 설명 등도 허용됩니다. 그러나 수사기관은 가급적 본인이 수사기관에 출두하여 조사를 하여 줄 것을 요망하게 되는데 입국과 출국시 신변 보장이 되도록 한국의 변호사를 선임하여
                수사기관과 미리 조율을 하여 두는 편을 권유합니다. </p>
              <p class='resources-p'>
                마지막으로, 기소중지자가 기소중지 상태로 해외에 체류하는 기간 동안 공소시효가 진행되지 않습니다. 따라서, 어떤 식으로든 기소중지자는 한국에서의 형사 문제를 해결하도록 노력하는 것이
                바람직합니다
              </p>
            </div>
          </li>
        </ul>

        <ul class="collapsible">
          <li>
            <div class='collapsible-header'>간이조사 방식이란 무엇인가요?</div>
            <div class='collapsible-body'><b>질의:</b></div>
            <div class='collapsible-body'>저는 한국에서 학교 동창에게서 1000만 원을 빌렸다가 형사 고소를 당하여 현재 기소중지된 상태입니다. 그런데 이 문제로 한국까지 가서
              조사를 받는다는 것이 부담스럽습니다. 간단히 사건을 해결할
              방법이 없을까요?</div>
            <div class='collapsible-body'><b>답변:</b></div>
            <div class='collapsible-body'>
              <p class='resources-p'>
                고소 고발된 사건 자체가 간단하거나 아예 처벌이 되지 않는 경우가 있습니다. 귀하의 질의 내용으로 보아 형사 사건이 아닌 단순한 민사 사건이거나, 형사 문제라 하더라도 피해금액이 경미한
                상황입니다. 이럴 경우 수사기관은 피의자와의 이메일을 통한 조사, 화상통화를 통한 조사 등이 가능하며, 직접 한국으로 입국하지 않아도 수사를 진행하여 수사를 종료하는 경우도 있습니다.
                다만,
                피해자와의 합의를 전제로 하는 경우가 많습니다(피해자의 피해 감정을 무마하고, 항후 수사결과에 대한 피해자의 민원을 방지하여야 하기 때문입니다). </p>
              <p class='resources-p'>
                귀하도 피해자와 연락하여 피해의 일부 또는 전부를 배상하는 것을 염두에 두시고 간이조사 방식을 진행하여 보시기를 권유드립니다.</p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    {{!-- 한국업체와 계약서 작성시 주의할 점에 관한 질문 --}}
    <div class="col s8 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <li class="card-title">한국업체와 계약서 작성시 주의할 점에 관한 질문</span>
        </div>
        <ul class="collapsible">
          <li>
            <div class='collapsible-header'>저의 회사가 한국의 업체와 기술협력 계약을 체결하려고 합니다. 어떤 점에 유의하여야 할까요?</div>
            <div class='collapsible-body'>
              <p class='resources-p'>
                계약서를 작성하는 이유는 당사자간의 의사와 의도를 명확히 하기 위하여 이를 문서화하는 작업입니다. 따라서, 당사자 사이에 후에 의사 해석에 문제가 없도록 가능한 한 명확하게 하는 것이
                중요합니다. 특히, 한국어와 영어로 계약서를 작성할 경우 해석의 원칙이 되는 언어본을 정해 두어야 합니다(예컨대, “해석을 위해서는 영어본 계약서를 우선한다”는 취지의 규정). </p>
              <p class='resources-p'>
                그리고 어느 나라 법을 준거법으로 할 것인지, 분쟁이 생기면 어떻게 분쟁을 해결할 것인지를 정해 두어야 합니다. 분쟁해결을 위해서는 중재를 선택하는 경우가 적지 아니한데, 역시 중재지를
                한국으로
                할 것인지, 미국으로 할 것인지, 아니면 제3국으로 할 것인지를 정해 두어야 합니다. </p>
              <p class='resources-p'>
                마지막으로 기술협력계약의 경우 계약 체결 과정 혹은 계약 이행과정에서 알게 된 상대방에 대한 정보를 외부에 공개하거나 발설하거나 이를 상대방이 이용하여서는 아니 된다는 비밀유지 의무를
                부과하여야
                합니다. </p>
            </div>
          </li>
        </ul>

        <ul class="collapsible">
          <li>
            <div class='collapsible-header'>계약서는 공증을 받아야 하나요?</div>
            <div class='collapsible-body'>
              <p class='resources-p'>
                공증이라 함은 공증인의 자격을 갖춘 사람 앞에서 공증을 받고자 하는 사람의 진정한 의사로 공증할 내용이 분명하다는 점을 공식적으로 확인을 받아 놓는 것입니다. 계약을 공증을 받아 놓으면
                사후에
                계약의 당사자가 공증된 계약의 내용을 부인하는 것이 사실상 불가능해 질 것입니다. 돌이켜 보건대, 계약이란 당사자간의 의사나 의도를 명확히 하여 향후 분쟁을 방지하거나 분쟁 발생 후
                해결을 위한
                기준으로 삼기 위한 것입니다. 그런데, 내용이 불확실한 계약의 경우라면, 아무리 공증을 하더라도 당사자의 의사를 정확히 해석할 수 없다면 큰 의미가 있을 수 없습니다. 따라서, 공증을
                받기 전에
                계약의 내용이나 문구에 애매한 점이 없는지, 다른 의미로 해석될 여지가 없는지 등을 면밀히 살펴보는 것이 무엇보다도 중요합니다.</p>
            </div>
          </li>
        </ul>

        <ul class="collapsible">
          <li>
            <div class='collapsible-header'>
              한국의 업체와 물품 수입계약을 체결하면서 계약서 초안을 작성하려 합니다. 저희는 영미식 계약서를 제시한 반면 한국측에서는 한국식 계약서를
              제시하고
              있습니다. 영미식 계약서와 한국식 계약서의 장단점이 무엇이 있나요?</div>
            <div class='collapsible-body'>
              <p class='resources-p'>
                한국식 계약서는 중요 부분에 집중하여 간략히 기재하는 것이 통상적입니다. 계약서에 기재하지 아니한 나머지 부분은 법의 규정이나 상관례에 의하는 방식입니다. 이에 반해, 영미식 계약서는
                중요
                부분은 물론이고 그에 부차적인 여러 상황을 일일이 규정하여 분쟁의 여지를 없애려는 데 집중합니다. 따라서, 의사해석의 면에 있어서 강점이 있습니다. 그러다 보니, 계약서 작성에 상상한
                시간과
                노력이 소요되기도 합니다.
              </p>
              <p class='resources-p'>
                따라서, 상대방과 첫 거래를 시작할 경우나 거래 규모가 크다면 영미식 계약 방식을 적용하는 것이 바람직합니다. 그런 뒤 어느 정도 상대방과 신뢰관계가 형성되고 동일한 내용의 거래가
                계속된다면
                기본계약을 영미식 계약으로 한 뒤 이를 기초로 다른 거래는 한국식 계약서로 간명화 하는 것을 권해 드립니다.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>

    <div class="col s8 m6">
      <div class="card blue-grey darken-1">
        <div class="card-content white-text">
          <span class="card-title">변호사 선임 및 소송진행과 관련된 질문</span>
        </div>
        <ul class="collapsible">
          <li>
            <div class='collapsible-header'>한국에서 법적 문제가 발생하여 변호사의 조력을 받아야 할 상황입니다. 어떻게 변호사를 알아보고 소개를 받아야 할까요?</div>
            <div class='collapsible-body'>
              <p class='resources-p'>
                우선, 한국의 지인을 통하여 소개를 받은 것이 가장 간명한 방법일 것입니다. 그러나, 소개 받은 변호사가 과연 귀하가 위임하려는 내용에 가장 적절한 전문가인지는 확인하기 어렵습니다. 저희
                Law
                Office of Yoolhyun, Atlanta에서는 이러한 점을 살펴보고 상세한 정보를 제공드리고자 합니다. 또한 변호사에 대한 정보를 제공드린 후에도 이러한 미국에 있는 의뢰인과의
                소통이
                원활할 것인지(언어의 소통 문제), 수임료의 적정성 문제, 변론의 성실성과 법적 주장의 당부 등을 점검하고 확인하는 작업은 필수적입니다.
              </p>
            </div>
          </li>
        </ul>

        <ul class="collapsible">
          <li>
            <div class='collapsible-header'>
              한국에 있는 변호사와의 의사 소통은 어떤 방식으로 하여야 하나요?
            </div>
            <div class='collapsible-body'>
              <p class='resources-p'>
                변호사와 의뢰인의 가장 중요한 신뢰 구축 방안은 의사소통의 원활화입니다. 의뢰인은 변호사에게 모든 사항을 허심탄회하게 그리고 진실되게 알려 주어야 하고 변호사는 자신이 의뢰 받아 진행하는
                사건에
                대하여 성실하게 보고하고 의견을 들어야 합니다. 특히 변호사가 법원을 비롯한 기타 관공소를 상대로 제출하는 문서의 경우 의뢰인에게 그 내용을 알려 주고 의뢰인의 최종 확인(final
                confirmation)을 받도록 하여야 합니다. 그리고 수시로 진행상황을 의뢰인에게 보고하여야 합니다. 한국과 미국이라는 지역적 거리와 시간적 격차가 존재하더라도 SNS와 이 메일 등의
                최첨단의 소통 방식을 적절히 이용한다면 큰 문제는 존재하지 않을 것입니다.
              </p>
            </div>
          </li>
        </ul>

        <ul class="collapsible">
          <li>
            <div class='collapsible-header'>
              한국에서 소송을 제기할 경우 어떤 비용이 소요되는가요? 이들 비용은 승소 후 반환 받을 수 있나요?
            </div>
            <div class='collapsible-body'>
              <p class='resources-p'>
                한국에서 소송을 제기할 경우 변호사 비용(착수금 및 성공보수금), 인지대 및 송달료등의 비용 부담을 감안하셔야 합니다.
              </p>
              <p class='resources-p'>
                그런데 한국법에서는 특별히 소송비용을 위한 담보 공탁을 명하는 제도가 존재합니다. 이는 한국에 거주하지 않는 자(원고)가 한국의 국내에 있는 사람(피고)을 상대로 소송을 제기할 경우
                원고가 후에
                패소할 경우를 대비하여 피고에게 소송비용의 상당액을 지급함을 담보하기 위하여 상당액(1심, 항소심, 상고심까지의 소송비용으로 변호사 비용, 인지대, 송달료 등이 포함됩니다)을 공탁하도록
                하는
                제도입니다.
              </p>
              <p class='resources-p'>
                피고는 원고로부터 소송을 제기 당할 때에 1심 첫 변론기일 전까지 원고에 대하여 위와 같은 소송비용을 공탁할 것을 신청할 수 있으며, 원고가 이를 담보하기 아니하면 소가 각하될 수
                있습니다.
              </p>
              <p class='resources-p'>
                소송에서 승소한 당사자는 판결이 확정된 후 법원에 대하여 소송비용 확정신청을 할 수 있습니다. 소송비용은 앞서 본 인지대, 송달료, 변호사비용, 그리고 소송 중에 실시된 감정료(부동산
                시가
                감정료, 신체 감정료) 등입니다. 다만, 모든 변호사 비용을 반환 받을 수 있는 것은 아니고 대법원에서 정한 ‘변호사보수의 소송비용산입에 관한 대법원 규칙’에 따라 일정 부분만이 인정이
                됨을
                유의하여야 합니다.
              </p>
            </div>
          </li>
        </ul>
      </div>
    </div>
    {{!-- This is the container div tag --}}
  </div>
</main>

{{!-- Footer --}}
<footer class="page-footer #757575 grey darken-1 footer-size">
  <div class="container">
    <div class="row">
      <div class="col s5">
        <h5 class="white-text"><a class="grey-text" href="/intro">About</a></h5>
      </div>
      <div class="col s5">
        <h5 class="white-text"><a class="grey-text" href="/consultation">Contact</a></h5>

      </div>
      <div class="col s2">
        <h5 class="white-text"><a class="grey-text" href="/resources">Resources</a></h5>
      </div>
    </div>
    <div class="container center white-text">
      Copyright ⓒ Law Firm of Yoolhyun | Tel: +1 (404) 764 8795 | Email: yoolhyunlaw@gmail.com
    </div>
  </div>
</footer>