{{!-- Navbar --}}
<header>
  <div class='navbar-fixed'>
    <nav class="#757575 grey darken-1" role="navigation" id='top-nav'>
      <!-- Dropdown Structure -->
      <ul id="dropdown1" class="dropdown-content #757575 grey darken-1">
        <li><a class='white-text' href="/seoul">율현 서울사무소</a></li>
        <li><a class='white-text' href="/atlanta">율현 아틀란타 사무소</a></li>
      </ul>
      <!-- Dropdown Structure -->
      <ul id="dropdown2" class="dropdown-content #757575 grey darken-1">
        <li><a class='white-text' href="/intro">Intro</a></li>
        <li><a class='white-text' href="/contract">Contract</a></li>
        <li><a class='white-text' href="/criminal">Criminal</a></li>
        <li><a class='white-text' href="/family">Family Law</a></li>
        <li><a class='white-text' href="/inheritance">Inheritance</a></li>
        <li><a class='white-text' href="/taxes">Taxes</a></li>

      </ul>
      <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Yoolhyun</a>
        <a href="#!" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <div class='navbar-right'>
          <ul class="right hide-on-med-and-down">
            <li><a href="/" class='title'>Home</a></li>
            <li><a class="dropdown-trigger" data-target="dropdown1">
                <div class='nav-space'>법률사무소</div>
                Law Office
              </a></li>
            <li><a href="/about" class='title'>
                <div class='nav-space'>윤배경변호사</div>Lawyer Yoon
              </a></li>
            <li><a class="dropdown-trigger" data-target="dropdown2">
                <div class='nav-space'>업무분야</div>Practice Areas
              </a></li>
            <li><a href="/resources" class='title'>
                <div class='nav-space'>법률자료실</div>Resources
              </a></li>
            <li><a href="/consultation" class='title'>
                <div class='nav-space'>상담 및 의뢰</div>Consultation
              </a></li>
          </ul>
    </nav>
  </div>
    <ul class="sidenav" id="mobile-demo">
              <li><a href="/">Home</a></li>
              <li><a href="/about">Lawyer Yoon</a></li>
              <li><a href="/contract">Contract</a></li>
              <li><a href="/criminal">Criminal</a></li>
              <li><a href="/family">Family</a></li>
              <li><a href="/inheritance">Inheritance</a></li>
              <li><a href="/taxes">Taxes</a></li>
              <li><a href="/resources">Resources</a></li>
              <li><a href="/consultation">Consultation</a></li>
    </ul>
</header>

{{!-- Main body Content Wrapped in Carousel --}}
<main>
  <img src='/assets/images/Background/panorama_one.jpg' class='overhead-image-about' />
  <div class='main-content'>
    <div class='row'>
      <h2>변호사 이력서</h2>
      <div class='col s8 resume-text'>
        <ul>
          <li>◁ 서울대학교 법학대학교, 법학대학원 졸업</li>
          <li>◁ 국립해양대학교 법학대학원 박사과정 수료</li>
          <li>◁ University of Denver, School of Law (L.L.M)</li>
          <li>◁ 국제자금세탁전문가협회(Association of Certified Anti-Money Laundering Specialist) 회원</li>
          <li>◁ 김장 & 리 (Kim, Chang & Lee) 법률사무소</li>
          <li>◁ 진 리 (Jin & Lee) 법률사무소</li>
          <li>◁ IBC Law Group</li>
          <li>◁ 뉴욕 Daniel Kim 법률사무소</li>
          <li>◁ 법무법인 율현 대표변호사</li>
          <li>◁ 농업협동조합 중앙회, 농협자산관리, 농협손해보험 고문변호사</li>
          <li>◁ 대림산업주식회사 고문변호사</li>
          <li>◁ 한국자산관리공사 고문변호사</li>
          <li>◁ 도드람, 양농축산업 협동조합 고문변호사</li>
          <li>◁ 국제자금세탁전문가협회(Association of Certified Anti-Money Laundering Specialist) 회원</li>
          <li>◁ 인천지방법원 파산부 –인천지방법원 2006책 선박소유자등의 책임제한사건의 관리인으로 선임</li>
          <li>◁ 지식경제부장관 – 전자거래분쟁조정 위원회 위원으로 위촉</li>
          <li>◁ 대한상사중재원 중재인으로 위촉</li>
          <li>◁ 대한변호사협회 금융소비자보호특별위원회 위원 & 회지 편집위원회위원으로 위촉</li>
          <li>◁ 대한주택보증주식회사 열린 공기업 위원회 위원 & 정보공개심의회의 위원으로 위촉</li>
          <li>◁ (사)한국해법학회 이사로 위촉</li>
          <li>◁ 농협대학교, 대림산업, 의료보험조합, 금융연수원, 중앙대학교 법학대학원 강사</li>
          <li>◁ 세법연구회 간사</li>
          <li>◁ ‘법률신문’, ‘대한변협신문’, ‘인권과 정의’, ‘시민과 변호사’, ‘시사법률’ : 편집위원 및 칼럼리스트</li>
          <li>◁ 서울변호사회(1996) & 대한변호사회(2009) 공로상</li>
        </ul>

      </div>
      <div class='col s4'>
          <img src='/assets/images/Lawyer/윤배경사진1.jpg' class='profile-image-about' />
      </div>
    </div>
  </div>
</main>

{{!-- Footer --}}
<footer class="page-footer #757575 grey darken-1 footer-size">
  <div class="container">
    <div class="row">
      <div class="col s5">
        <h5 class="white-text"><a class="grey-text" href="/intro">About</a></h5>
      </div>
      <div class="col s5">
        <h5 class="white-text"><a class="grey-text" href="/consultation">Contact</a></h5>

      </div>
      <div class="col s2">
        <h5 class="white-text"><a class="grey-text" href="/resources">Resources</a></h5>
      </div>
    </div>
    <div class="container center white-text">
      Copyright ⓒ Law Firm of Yoolhyun | Tel: +1 (404) 764 8795 | Email: yoolhyunlaw@gmail.com
    </div>
  </div>
</footer>