{{!-- Navbar --}}
<header>
  <div class='navbar-fixed'>
    <nav class="#757575 grey darken-1" role="navigation" id='top-nav'>
      <!-- Dropdown Structure -->
      <ul id="dropdown1" class="dropdown-content #757575 grey darken-1">
        <li><a class='white-text' href="/seoul">율현 서울사무소</a></li>
        <li><a class='white-text' href="/atlanta">율현 아틀란타 사무소</a></li>
      </ul>
            <!-- Dropdown Structure -->
      <ul id="dropdown2" class="dropdown-content #757575 grey darken-1">
        <li><a class='white-text' href="/intro">Intro</a></li>
        <li><a class='white-text' href="/contract">Contract</a></li>
        <li><a class='white-text' href="/criminal">Criminal</a></li>
        <li><a class='white-text' href="/family">Family Law</a></li>
        <li><a class='white-text' href="/inheritance">Inheritance</a></li>
        <li><a class='white-text' href="/taxes">Taxes</a></li>

      </ul>
      <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Yoolhyun</a>
        <div class='navbar-right'>
          <ul class="right hide-on-med-and-down">
            <li><a href="/" class='title'>Home</a></li>
            <li><a class="dropdown-trigger" data-target="dropdown1"><div class='nav-space'>법률사무소</div> 
            Law Office
            </a></li>
            <li><a href="/about" class='title'><div class='nav-space'>윤배경변호사</div>Lawyer Yoon</a></li>
            <li><a class="dropdown-trigger" data-target="dropdown2"><div class='nav-space'>업무분야</div>Practice Areas</a></li>
            <li><a href="/resources" class='title'><div class='nav-space'>법률자료실</div>Resources</a></li>
            <li><a href="/consultation" class='title'><div class='nav-space'>상담 및 의뢰</div>Consultation</a></li>
          </ul>
          <ul id="nav-mobile" class="sidenav">
            <li><a href="#">Navbar Link</a></li>
          </ul>
        </div>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>
</header>

{{!-- Main body Content Wrapped in Carousel --}}
<main>
  <div class='full-slider'>
    <div class='carousel carousel-slider'  data-indictaors='true'>
      <a href='#imgOne' class='carousel-item'><img src='/assets/images/Background/panel_one.jpg'></a>
        <div class='carousel-fixed-item center textLand'>
            <h1>해결하여야 할 법적 문제가 한국에서 발생한 것인가요?</h1>
            <br></br>
            법무법인 율현 미주 지점은 미국에 계신 한국동포들을 위하여 한국법 자문과 소송을 전문으로 하는 법률사무소입니다.
            <br></br> 
            다양한 경험과 탁월한 능력을 갖춘 율현의 변호사가 고민하고 계신 문제를 빠르고 정확하게 해결해드리겠습니다.</h2>
        </div>
        {{!-- <a href='#imgTwo' class='carousel-item'><img src='/assets/images/Background/nature_one.jpg'></a> --}}
      <a href='#imgThree' class='carousel-item'><img src='/assets/images/Background/nature_three.jpg'></a>
    </div>
  </div>
</main>

{{!-- Footer --}}
<footer class="page-footer #757575 grey darken-1">
  <div class="container">
    <div class="row">
      <div class="col s5">
        <h5 class="white-text"><a class="grey-text" href="#!">About</a></h5>
      </div>
      <div class="col s5">
        <h5 class="white-text"><a class="grey-text" href="#!">Contact</a></h5>

      </div>
      <div class="col s2">
        <h5 class="white-text"><a class="grey-text" href="#!">Resources</a></h5>
      </div>
    </div>
  </div>
  <div class="footer-copyright #757575 grey darken-1">
    <div class="container center white-text">
      copyright ⓒ Law Firm of Yoolhyun | Tel: +1 (404) 719 9824 | Email: juhuyoon@yahoo.com
    </div>
  </div>
</footer>