/* ----------- Non-Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 1) {
    .overhead-image-about {
      position: relative;
      margin-top: 3%;
      margin-bottom: auto;
      width: 100%;
      height: 22em;
    }
    
    .overhead-image-atl {
      position: relative;
      margin-top: 3%;
      margin-bottom: auto;
      width: 100%;
      height: 20em;
    }
    
    .overhead-image-seoul {
      position: relative;
      margin-top: 3%;
      margin-bottom: auto;
      width: 100%;
      height: 20em;
    }
    
    .overhead-image-contract {
      position: relative;
      margin-top: 3%;
      margin-bottom: auto;
      width: 100%;
      height: 20em;
    }
    
    .overhead-image-criminal {
      position: relative;
      margin-top: 3%;
      margin-bottom: auto;
      width: 100%;
      height: 23em;
    }
    
    .overhead-image-family {
      position: relative;
      margin-top: 3%;
      margin-bottom: auto;
      width: 100%;
      height: 25em;
    }
    
    .overhead-image-inheritance {
      position: relative;
      margin-top: 3%;
      margin-bottom: auto;
      width: 100%;
      height: 30em;
    }
    
    .overhead-image-intro {
      position: relative;
      margin-top: 3%;
      margin-bottom: auto;
      width: 100%;
      height: 20em;
    }
    
    .overhead-image-taxes {
      position: relative;
      margin-top: 3%;
      margin-bottom: auto;
      width: 100%;
      height: 20em;
    }
    
    .overhead-image-resources {
      position: relative;
      margin-top: 3%;
      margin-bottom: auto;
      width: 100%;
      height: 18em;
    }
    
    .profile-image-about {
      width: 100%;
      height: 100%;
      margin-top: 20%;
    }
    
    .profile-image-intro {
      width: 10%;
      height: 10%;
    } 
}

/* ----------- Retina Screens ----------- */
@media screen 
  and (min-device-width: 1200px) 
  and (max-device-width: 1600px) 
  and (-webkit-min-device-pixel-ratio: 2)
  and (min-resolution: 192dpi) { 
    .overhead-image-about {
      position: relative;
      margin-top: 3%;
      margin-bottom: auto;
      width: 100%;
      height: 22em;
    }
    
    .overhead-image-atl {
      position: relative;
      margin-top: 3%;
      margin-bottom: auto;
      width: 100%;
      height: 20em;
    }
    
    .overhead-image-seoul {
      position: relative;
      margin-top: 3%;
      margin-bottom: auto;
      width: 100%;
      height: 20em;
    }
    
    .overhead-image-contract {
      position: relative;
      margin-top: 3%;
      margin-bottom: auto;
      width: 100%;
      height: 20em;
    }
    
    .overhead-image-criminal {
      position: relative;
      margin-top: 3%;
      margin-bottom: auto;
      width: 100%;
      height: 23em;
    }
    
    .overhead-image-family {
      position: relative;
      margin-top: 3%;
      margin-bottom: auto;
      width: 100%;
      height: 25em;
    }
    
    .overhead-image-inheritance {
      position: relative;
      margin-top: 3%;
      margin-bottom: auto;
      width: 100%;
      height: 30em;
    }
    
    .overhead-image-intro {
      position: relative;
      margin-top: 3%;
      margin-bottom: auto;
      width: 100%;
      height: 20em;
    }
    
    .overhead-image-taxes {
      position: relative;
      margin-top: 3%;
      margin-bottom: auto;
      width: 100%;
      height: 20em;
    }
    
    .overhead-image-resources {
      position: relative;
      margin-top: 3%;
      margin-bottom: auto;
      width: 100%;
      height: 18em;
    }
    
    .profile-image-about {
      width: 100%;
      height: 100%;
      margin-top: 20%;
    }
    
    .profile-image-intro {
      width: 10%;
      height: 10%;
    }
}