/* 
* === NAVBAR PROPERTIES ===
*/
.navbar-fixed{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #BEBEBE;
}

nav ul li a{
  color: white;
}  

.logo{
  margin: 10px 10px 10px 15px;
   background: red;
   padding: 5px;
   background: linear-gradient(red, yellow, green);
   width: 60px;
   height: 25px;
   color: white;
}
.navbar-right{
  position: fixed;
  right: 5px; /*pixels away from the right of the navbar*/
}
.title{
  display: inline-block;
}

/* --- Carousel-items --- */
.carousel-item>img {
  width: 100%;
  height:100%;
}

.textLand {
  margin-top: 20%;
  margin-bottom: 20%;
  font-size: 2em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

/* 
* === STICKY FOOTER SETUP ===
*/
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Helvetica Neue', 'Helvetica', 'Apple SD Gothic Neo', 'NanumBarunGothic', 'Malgun Gothic', dotum, 'Lucida Grande', sans-serif;
}

main {
  flex: 1 0 auto;
}

/*
* === IMAGES FOR ALL PAGES  ===
*/
.overhead-image {
  position: relative;
  margin-top: 3%;
  margin-bottom: auto;
  width: 100%;
  height:100%;
}

.overhead-image-contract {
  position: relative;
  margin-top: 3%;
  margin-bottom: auto;
  width: 100%;
  height:400px;
}

.overhead-image-resources {
  position: relative;
  margin-top: 3%;
  margin-bottom: auto;
  width: 100%;
  height: 450px;
}

.profile-image {
  margin-top: -30%;
  width: 130%;
  height: 130%;
}

.profile-image2 {
  width: 100%;
  height: 100%;
}
    
/* 
* === MAIN CONTENT TEXT === 
*/

.main-content {
  max-width: 85%;
  margin: auto;
}

.main-text {
  font-size: 1.3em;
  line-height: 2em;
  margin-bottom: 2em;
}

.resume-text {
  font-size: 1.1em;
  line-height: 2em;
  margin-bottom: 2em;
}

/* 
* === RESOURCES PAGES === 
*/
.card {
  width: 100%;
}

#dropdown-resources{
  width: 100%;
}

/* 
* -- Style the button that is used to open and close the collapsible content --
*/
.collapsible {
  background-color: #eee;
  color: #444;
  cursor: pointer;
  padding: 18px;
  width: 100%;
  border: none;
  text-align: left;
  outline: none;
  font-size: 15px;
}

/* 
* -- Add a background color to the button -- 
*/
.active, .collapsible:hover {
  background-color: rgb(145, 155, 164);
}

/* 
* -- Style the collapsible content. Note: hidden by default --
*/
.resources-content {
  padding: 0 18px;
  background-color: white;
  max-height: 0;
  overflow: hidden;
  transition: max-height 0.2s ease-out;
}

/* 
* -- Resources Paragraph Content -- 
*/
.resources-p {
  padding: 0.5em;
  line-height: 1.6;
}

.resources-tab {
  padding-left: 1.5em;
  line-height: 1.6
}