/* Navbar Properties */
.navbar-fixed{
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  height: 50px;
  background-color: #BEBEBE;
}

nav ul li a{
  color: white;
}  

.logo{
  margin: 10px 10px 10px 15px;
   background: red;
   padding: 5px;
   background: linear-gradient(red, yellow, green);
   width: 60px;
   height: 25px;
   color: white;
}
.navbar-right{
  position: fixed;
  right: 5px;/*pixels away from the right of the navbar*/
}
.title{
  display: inline-block;
}

/* Carousel-items */
.carousel-item>img {
  width: 100%;
  height:100%;
}

.textLand {
  margin-top: 20%;
  margin-bottom: 20%;
  font-size: 2em;
  font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", "Roboto", "Oxygen",
  "Ubuntu", "Cantarell", "Fira Sans", "Droid Sans", "Helvetica Neue",
  sans-serif;
}

/* Sticky Footer Setup */
body {
  display: flex;
  min-height: 100vh;
  flex-direction: column;
  font-family: 'Helvetica Neue', 'Helvetica', 'Apple SD Gothic Neo', 'NanumBarunGothic', 'Malgun Gothic', dotum, 'Lucida Grande', sans-serif;
}

main {
  flex: 1 0 auto;
}

/* Images */
.overhead-image {
  position: relative;
  margin-top: 3%;
  margin-bottom: auto;
  width: 100%;
  height:100%;
}

.overhead-image-contract {
  position: relative;
  margin-top: 3%;
  margin-bottom: auto;
  width: 100%;
  height:400px;
}

.overhead-image-resources {
  position: relative;
  margin-top: 3%;
  margin-bottom: auto;
  width: 100%;
  height: 450px;
}

.profile-image {
  margin-top: -30%;
  width: 130%;
  height: 130%;
}

.profile-image2 {
  width: 100%;
  height: 100%;
}
    
/* Main Content Text */

.main-content {
  max-width: 85%;
  margin: auto;
}

.main-text {
  font-size: 1.3em;
  line-height: 2em;
  margin-bottom: 2em;
}

.resume-text {
  font-size: 1.1em;
  line-height: 2em;
  margin-bottom: 2em;
}

