{{!-- Navbar --}}
<header>
  <div class='navbar-fixed'>
    <nav class="#757575 grey darken-1" role="navigation" id='top-nav'>
      <!-- Dropdown Structure -->
      <ul id="dropdown1" class="dropdown-content #757575 grey darken-1">
        <li><a class='white-text' href="/seoul">율현 서울사무소</a></li>
        <li><a class='white-text' href="/atlanta">율현 아틀란타 사무소</a></li>
      </ul>
      <!-- Dropdown Structure -->
      <ul id="dropdown2" class="dropdown-content #757575 grey darken-1">
        <li><a class='white-text' href="/intro">Intro</a></li>
        <li><a class='white-text' href="/contract">Contract</a></li>
        <li><a class='white-text' href="/criminal">Criminal</a></li>
        <li><a class='white-text' href="/family">Family Law</a></li>
        <li><a class='white-text' href="/inheritance">Inheritance</a></li>
        <li><a class='white-text' href="/taxes">Taxes</a></li>

      </ul>
      <div class="nav-wrapper container"><a id="logo-container" href="#" class="brand-logo">Logo</a>
        <div class='navbar-right'>
          <ul class="right hide-on-med-and-down">
            <li><a href="/" class='title'>Home</a></li>
            <li><a class="dropdown-trigger" data-target="dropdown1">법률사무소 Law Office</a></li>
            <li><a href="/about" class='title'>윤배경변호사 Lawyer Yoon</a></li>
            <li><a class="dropdown-trigger" data-target="dropdown2">업무분야 Practice Areas</a></li>
            <li><a href="#" class='title'>법률자료실 Resources</a></li>
            <li><a href="/consultation" class='title'>상담 및 의뢰Consultation</a></li>
          </ul>
          <ul id="nav-mobile" class="sidenav">
            <li><a href="#">Navbar Link</a></li>
          </ul>
        </div>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>
</header>

{{!-- Main body Content Wrapped in Carousel --}}
<main>
  <img src='/assets/images/Background/city_two.jpg' class='overhead-image-contract' />
  <div class='main-content'>
    <div class='row'>
      <h2>형사 문제</h2>
      <div class='col s12 main-text'>
        <p>
          미국에 체류하시는 동포 중에 한국에서 발생한 형사 문제로 인하여 심리적 불안을 호소하시는 분이 적지 아니합니다.
          자신도 모르는 사이에 한국 수사 당국에 의하여 ‘기소중지자’로 수배되어 있는 경우도 있습니다.
          그리하여 한국으로 입국할 때 긴급 체포되거나, 다시 한국으로 출국할 때 출국이 거부되는 사례도 발생하고 있습니다.
          따라서, 이에 대한 정보를 사전에 확인하는 한편, 그 대응방안을 강구하는 것이 필요합니다.
        </p>
      </div>
    </div>
  </div>
</main>

{{!-- Footer --}}
<footer class="page-footer #757575 grey darken-1">
  <div class="container">
    <div class="row">
      <div class="col s5">
        <h5 class="white-text"><a class="grey-text" href="#!">About</a></h5>
      </div>
      <div class="col s5">
        <h5 class="white-text"><a class="grey-text" href="#!">Contact</a></h5>

      </div>
      <div class="col s2">
        <h5 class="white-text"><a class="grey-text" href="#!">Resources</a></h5>
      </div>
    </div>
  </div>
  <div class="footer-copyright #757575 grey darken-1">
    <div class="container center white-text">
      copyright ⓒ Law Firm of Yoolhyun | Tel: +1 (404) 719 9824 | Email: juhuyoon@yahoo.com
    </div>
  </div>
</footer>