{{!-- Navbar --}}
<header>
  <div class='navbar-fixed'>
    <nav class="#757575 grey darken-1" role="navigation" id='top-nav'>
      <!-- Dropdown Structure -->
      <ul id="dropdown1" class="dropdown-content #757575 grey darken-1">
        <li><a class='white-text' href="/seoul">율현 서울사무소</a></li>
        <li><a class='white-text' href="/atlanta">율현 아틀란타 사무소</a></li>
      </ul>
      <!-- Dropdown Structure -->
      <ul id="dropdown2" class="dropdown-content #757575 grey darken-1">
        <li><a class='white-text' href="/intro">Intro</a></li>
        <li><a class='white-text' href="/contract">Contract</a></li>
        <li><a class='white-text' href="/criminal">Criminal</a></li>
        <li><a class='white-text' href="/family">Family Law</a></li>
        <li><a class='white-text' href="/inheritance">Inheritance</a></li>
        <li><a class='white-text' href="/taxes">Taxes</a></li>

      </ul>
      <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Yoolhyun</a>
        <a href="#!" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <div class='navbar-right'>
          <ul class="right hide-on-med-and-down">
            <li><a href="/" class='title'>Home</a></li>
            <li><a class="dropdown-trigger" data-target="dropdown1">
                <div class='nav-space'>법률사무소</div>
                Law Office
              </a></li>
            <li><a href="/about" class='title'>
                <div class='nav-space'>윤배경변호사</div>Lawyer Yoon
              </a></li>
            <li><a class="dropdown-trigger" data-target="dropdown2">
                <div class='nav-space'>업무분야</div>Practice Areas
              </a></li>
            <li><a href="/resources" class='title'>
                <div class='nav-space'>법률자료실</div>Resources
              </a></li>
            <li><a href="/consultation" class='title'>
                <div class='nav-space'>상담 및 의뢰</div>Consultation
              </a></li>
          </ul>
    </nav>
  </div>
    <ul class="sidenav" id="mobile-demo">
              <li><a href="/">Home</a></li>
              <li><a href="/about">Lawyer Yoon</a></li>
              <li><a href="/contract">Contract</a></li>
              <li><a href="/criminal">Criminal</a></li>
              <li><a href="/family">Family</a></li>
              <li><a href="/inheritance">Inheritance</a></li>
              <li><a href="/taxes">Taxes</a></li>
              <li><a href="/resources">Resources</a></li>
              <li><a href="/consultation">Consultation</a></li>
    </ul>
</header>

{{!-- Main body Content Wrapped in Carousel --}}
<main>
  <img src='/assets/images/Background/panorama_two.jpg' class='overhead-image-inheritance' />
  <div class='main-content'>
    <div class='row'>
      <h2>상속 분쟁</h2>
      <div class='col s12 main-text'>
        <p>
          한국민의 미국 이민 역사가 깊어짐과 동시에 한국의 거주자와 미국의 거주자 등이 사망하면서 다른 상대국에 거주하는 친인척들 사이에 상속 문제로 인한 분쟁이 적지 않게 발생하고 있으며 이러한 추세는
          계속될 것으로 예상됩니다.
          상속법은 그 성격상 상속이 발생한 곳의 법(법정지법)이 우선적으로 적용되지만, 유언의 효력이나 유류분(legal portion of an heir)을 둘러싼 다툼은 결국 소송으로 해결하여야 합니다.
          특히 미국과 한국 모두 유류분 제도를 인정하고 있는 점에 비추어 상속인 또는 유언자 등은 이에 대한 준비나 대비가 필요합니다.
        </p>
      </div>
    </div>
  </div>
</main>

{{!-- Footer --}}
<footer class="page-footer #757575 grey darken-1 footer-size">
  <div class="container">
    <div class="row">
      <div class="col s5">
        <h5 class="white-text"><a class="grey-text" href="/intro">About</a></h5>
      </div>
      <div class="col s5">
        <h5 class="white-text"><a class="grey-text" href="/consultation">Contact</a></h5>

      </div>
      <div class="col s2">
        <h5 class="white-text"><a class="grey-text" href="/resources">Resources</a></h5>
      </div>
    </div>
    <div class="container center white-text">
      Copyright ⓒ Law Firm of Yoolhyun | Tel: +1 (404) 764 8795 | Email: yoolhyunlaw@gmail.com
    </div>
  </div>
</footer>