{{!-- Navbar --}}
<header>
  <div class='navbar-fixed'>
    <nav class="#757575 grey darken-1" role="navigation" id='top-nav'>
      <!-- Dropdown Structure -->
      <ul id="dropdown1" class="dropdown-content #757575 grey darken-1">
        <li><a class='white-text' href="/seoul">율현 서울사무소</a></li>
        <li><a class='white-text' href="/atlanta">율현 아틀란타 사무소</a></li>
      </ul>
      <!-- Dropdown Structure -->
      <ul id="dropdown2" class="dropdown-content #757575 grey darken-1">
        <li><a class='white-text' href="/intro">Intro</a></li>
        <li><a class='white-text' href="/contract">Contract</a></li>
        <li><a class='white-text' href="/criminal">Criminal</a></li>
        <li><a class='white-text' href="/family">Family Law</a></li>
        <li><a class='white-text' href="/inheritance">Inheritance</a></li>
        <li><a class='white-text' href="/taxes">Taxes</a></li>

      </ul>
      <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Yoolhyun</a>
        <a href="#!" data-target="mobile-demo" class="sidenav-trigger"><i class="material-icons">menu</i></a>
        <div class='navbar-right'>
          <ul class="right hide-on-med-and-down">
            <li><a href="/" class='title'>Home</a></li>
            <li><a class="dropdown-trigger" data-target="dropdown1">
                <div class='nav-space'>법률사무소</div>
                Law Office
              </a></li>
            <li><a href="/about" class='title'>
                <div class='nav-space'>윤배경변호사</div>Lawyer Yoon
              </a></li>
            <li><a class="dropdown-trigger" data-target="dropdown2">
                <div class='nav-space'>업무분야</div>Practice Areas
              </a></li>
            <li><a href="/resources" class='title'>
                <div class='nav-space'>법률자료실</div>Resources
              </a></li>
            <li><a href="/consultation" class='title'>
                <div class='nav-space'>상담 및 의뢰</div>Consultation
              </a></li>
          </ul>
    </nav>
  </div>
    <ul class="sidenav" id="mobile-demo">
              <li><a href="/">Home</a></li>
              <li><a href="/about">Lawyer Yoon</a></li>
              <li><a href="/contract">Contract</a></li>
              <li><a href="/criminal">Criminal</a></li>
              <li><a href="/family">Family</a></li>
              <li><a href="/inheritance">Inheritance</a></li>
              <li><a href="/taxes">Taxes</a></li>
              <li><a href="/resources">Resources</a></li>
              <li><a href="/consultation">Consultation</a></li>
    </ul>
</header>

{{!-- Main body Content Wrapped in Carousel --}}
<main>
  <img src='/assets/images/Background/panorama_two.jpg' class='overhead-image-taxes' />
  <div class='main-content'>
    <div class='row'>
      <h2>세금 문제</h2>
      <div class='col s12 main-text'>
        <p>
          한국과 미국 모두에서 생활 기반을 두거나 사업 기반을 둔 경우 양국 모두에 소득세 혹은 법인세 등을 부담하여야 할 가능성이 있습니다.
          이 경우 한미조세조약(United States- Republic of Korea Income Tax Convention)상 개인인 경우 어느 국가의 거주자(resident)인지,
          법인인 경우 어느 국가에 고정사업장(permanent establishment)을 두고 있는지 등에 대한 검토가 우선적으로 이루어져야 합니다.
          이를 통하여 한미조세조약상 이중과세의 혜택을 받을 수 있는지 파악이 가능합니다.
        </p>
      </div>
    </div>
  </div>
</main>

{{!-- Footer --}}
<footer class="page-footer #757575 grey darken-1 footer-size">
  <div class="container">
    <div class="row">
      <div class="col s5">
        <h5 class="white-text"><a class="grey-text" href="/intro">About</a></h5>
      </div>
      <div class="col s5">
        <h5 class="white-text"><a class="grey-text" href="/consultation">Contact</a></h5>

      </div>
      <div class="col s2">
        <h5 class="white-text"><a class="grey-text" href="/resources">Resources</a></h5>
      </div>
    </div>
    <div class="container center white-text">
      Copyright ⓒ Law Firm of Yoolhyun | Tel: +1 (404) 764 8795 | Email: yoolhyunlaw@gmail.com
    </div>
  </div>
</footer>