{{!-- Navbar --}}
<header>
  <div class='navbar-fixed'>
    <nav class="#757575 grey darken-1" role="navigation" id='top-nav'>
      <!-- Dropdown Structure -->
      <ul id="dropdown1" class="dropdown-content #757575 grey darken-1">
        <li><a class='white-text' href="/seoul">율현 서울사무소</a></li>
        <li><a class='white-text' href="/atlanta">율현 아틀란타 사무소</a></li>
      </ul>
            <!-- Dropdown Structure -->
      <ul id="dropdown2" class="dropdown-content #757575 grey darken-1">
        <li><a class='white-text' href="/intro">Intro</a></li>
        <li><a class='white-text' href="/contract">Contract</a></li>
        <li><a class='white-text' href="/criminal">Criminal</a></li>
        <li><a class='white-text' href="/family">Family Law</a></li>
        <li><a class='white-text' href="/inheritance">Inheritance</a></li>
        <li><a class='white-text' href="/taxes">Taxes</a></li>

      </ul>
      <div class="nav-wrapper container"><a id="logo-container" href="/" class="brand-logo">Yoolhyun</a>
        <div class='navbar-right'>
          <ul class="right hide-on-med-and-down">
            <li><a href="/" class='title'>Home</a></li>
            <li><a class="dropdown-trigger" data-target="dropdown1"><div class='nav-space'>법률사무소</div> 
            Law Office
            </a></li>
            <li><a href="/about" class='title'><div class='nav-space'>윤배경변호사</div>Lawyer Yoon</a></li>
            <li><a class="dropdown-trigger" data-target="dropdown2"><div class='nav-space'>업무분야</div>Practice Areas</a></li>
            <li><a href="/resources" class='title'><div class='nav-space'>법률자료실</div>Resources</a></li>
            <li><a href="/consultation" class='title'><div class='nav-space'>상담 및 의뢰</div>Consultation</a></li>
          </ul>
          <ul id="nav-mobile" class="sidenav">
            <li><a href="#">Navbar Link</a></li>
          </ul>
        </div>
        <a href="#" data-target="nav-mobile" class="sidenav-trigger"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>
</header>

{{!-- Main body Content Wrapped in Carousel --}}
<main>
  <img src='/assets/images/Background/city_three.jpg' class='overhead-image' />
  <div class='main-content'>
    <br><br><br>
    <h2>율현 서울사무소</h2>
    <p class='main-text-seoul'>“법을 통하여 진리를 밝힌다(以律求賢)”는 이념 하에 항상 고객과 공감하고자 노력하는 Law Office of Yoolhyun, Seoul은 2005년 서울에서 윤배경
      변호사를 </p>
      <p class='main-text-seoul'>대표변호사로 하여 설립된 Law Firm입니다.</p>
      <p class='main-text-seoul'>민/형사와 같은 일반 사건을 처리하고 있음은 물론이고 금융, 조세, 건설, 해상보험과 같은 전문적인 영역에도 탁월한 지식과 다양한 경험을 바탕으로 법률자문을 수행하고 있습니다.</p>
      <br>
      <a href='http://yoolhyun.com/' target='_blank' rel="noopener noreferrer">(www.yoolhyun.com) </a>
    </p>
  </div>
</main>

{{!-- Footer --}}
<footer class="page-footer #757575 grey darken-1">
  <div class="container">
    <div class="row">
      <div class="col s5">
        <h5 class="white-text"><a class="grey-text" href="#!">About</a></h5>
      </div>
      <div class="col s5">
        <h5 class="white-text"><a class="grey-text" href="#!">Contact</a></h5>
      </div>
      <div class="col s2">
        <h5 class="white-text"><a class="grey-text" href="#!">Resources</a></h5>
      </div>
    </div>
  </div>
  <div class="footer-copyright #757575 grey darken-1">
    <div class="container center white-text">
      copyright ⓒ Law Firm of Yoolhyun | Tel: +1 (404) 719 9824 | Email: juhuyoon@yahoo.com
    </div>
  </div>
</footer>